main {
    height: 150vh;
    color: white;
    margin-top: 100px;
}

main .myProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



main .myProfile .containerTitle1 {
    width: 100%;
    max-width: 1000px;
}

main .myProfile .containerTitle1 .profileSquare {
    background-color: #001a3b;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.1s;
}

main .myProfile .containerTitle1 .profileSquare:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

main .myProfile .containerTitle1 .profileSquare .personalIdentity table tr td ul {
    list-style-type: square;
}

main .myProfile .containerTitle1 .profileSquare .myPhoto img {
    width: 150px;
    border-radius: 5px;
}

main .mySkills {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mySkills .skillsSquare {
    display: flex;
    flex-direction: column;
    background-color: #001a3b;
    padding: 40px;
    border-radius: 10px;
    transition: 0.1s;
}

main .mySkills .skillsSquare:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

main .mySkills .containerTitle2{
    width: 100%;
    max-width: 1000px;
}

main .mySkills .containerTitle2 .skillsSquare .logo {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

main .mySkills .containerTitle2 .skillsSquare .logo .logoCard{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main .mySkills .containerTitle2 .skillsSquare .logo .logoCard img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

main .mySkills .containerTitle2 .skillsSquare .logo .logoCard span {
    font-size: 16px;
    font-weight: bold;
}

main .myDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .myDescription .containerTitle3 {
    width: 100%;
    max-width: 1000px;
}

main .myDescription .descriptionSquare {
    display: flex;
    flex-direction: column;
    background-color: #001a3b;
    padding: 40px;
    border-radius: 10px;
    transition: 0.1s;
}

main .myDescription .descriptionSquare:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}