main {
    height: auto;
    color: white;
    margin-top: 100px;
    overflow-x: hidden;
}

main .myProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .myProfile .containerTitle1 {
    width: 100%;
    max-width: 1000px;
}

main .myProfile .containerTitle1 .profileSquare {
    background-color: #001a3b;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


main .myProfile .containerTitle1 .profileSquare .personalIdentity table tr td ul {
    list-style-type: square;
}

main .myProfile .containerTitle1 .profileSquare .myPhoto img {
    width: 150px;
    border-radius: 5px;
}

main .mySkills {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mySkills .skillsSquare {
    display: flex;
    flex-direction: column;
    background-color: #001a3b;
    padding: 40px;
    border-radius: 10px;
}



main .mySkills .containerTitle2 {
    width: 100%;
    max-width: 1000px;
}

main .mySkills .containerTitle2 .skillsSquare {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

main .mySkills .containerTitle2 .skillsSquare .logoCard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main .mySkills .containerTitle2 .skillsSquare .logoCard img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}

main .mySkills .containerTitle2 .skillsSquare .logoCard span {
    font-size: 16px;
    font-weight: bold;
}

main .myDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .myDescription .containerTitle3 {
    width: 100%;
    max-width: 1000px;
}

main .myDescription .descriptionSquare {
    display: flex;
    flex-direction: column;
    background-color: #001a3b;
    padding: 40px;
    border-radius: 10px;
}

@media (max-width: 768px) {

    main .myProfile .containerTitle1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }

    main .myProfile .containerTitle1 .profileTitle {
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main .myProfile .containerTitle1 .profileSquare {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }

    main .myProfile .containerTitle1 .profileSquare .personalIdentity {
        font-size: 14px;
        width: 100%;
        overflow-x: hidden;
    }

    main .mySkills{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    main .mySkills .containerTitle2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    main .mySkills .containerTitle2 .skillsSquare {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

    }

    main .mySkills .containerTitle2 .skillsSquare .logoCard {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    main .mySkills .containerTitle2 .skillsSquare .logoCard img {
        width: 50px;
        height: auto;
        margin-bottom: 20px;
    }

    main .mySkills .containerTitle2 .skillsSquare .logoCard span {
        font-size: 12px;
        font-weight: bold;
    }

    main .myDescription {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    main .myDescription .containerTitle3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    main .myDescription .descriptionSquare {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
}