@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #000a17;
    font-family: 'Jetbrains Mono', monospace;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 10, 23, 0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
}

header .logo h2 {
    font-size: 25px;
}

header .logo img {
    width: 100px;
    height: 100px;

}

header #humbergerMenu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

header #humbergerMenu span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

header #navbarMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
}

header #navbarMenu ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header #navbarMenu a {

    transition: 0.3s;
}

header #navbarMenu a:hover {
    border-radius: 10px;
}

header #navbarMenu a img {
    width: 48.4px;
    cursor: pointer;
    padding: 5px;
    transition: 0.1s;
}

header #navbarMenu a img:hover {
    transform: scale(1.3);

}

header #navbarMenu ul li a {
    background-color: none;
    border: none;
    color: white;
    font-family: 'Jetbrains Mono', monospace;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    text-decoration: none;
}

header #navbarMenu ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 4px;
}

footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 50px 100px;
}

footer .leftContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 25px;
}

footer .leftContent .footerLogo {
    display: flex;
    align-items: center;
}

footer .leftContent .footerLogo img {
    width: 100px;
}

footer .footerText {
    margin-left: 18px;
    width: 400px;
}

footer .leftContent .sosmedIcon2 {
    display: flex;
    gap: 30px;
    margin-left: 18px;
}

footer .leftContent .sosmedIcon2 img {
    width: 30px;
    transition: 0.1s;
}

footer .leftContent .sosmedIcon2 img:hover {
    transform: scale(1.3);
}

footer .leftContent .moreButton {
    border: 1px solid white;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 18px;
}

footer .leftContent .moreButton:hover {
    background-color: white;
}

footer .leftContent .moreButton a {
    text-decoration: none;
    color: white;
}

footer .leftContent .moreButton:hover a {
    color: black;
}

footer .rightContent {
    display: flex;
    gap: 90px;
}

footer .rightContent .linkFooter1 h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

footer .rightContent .linkFooter1 ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    padding-left: 1px;
}

footer .rightContent .linkFooter1 ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer .rightContent .linkFooter1 ul li a:hover {
    text-decoration: underline;
}

footer .rightContent .linkFooter2 h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

footer .rightContent .linkFooter2 ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    padding-left: 1px;
    margin-bottom: 50px;
}

footer .rightContent .linkFooter2 ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer .rightContent .linkFooter2 ul li a:hover {
    text-decoration: underline;
}

footer .rightContent .linkFooter2 span {
    color: #656565;
}

@media (max-width: 768px) {


    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        margin-left: 10px;
    }

    header .logo img {
        width: 50px;
        height: 50px;
    }

    header .logo h2 {
        font-size: 20px;
    }

    header #humbergerMenu {
        display: flex;
        margin-right: 30px;
    }

    header #navbarMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        justify-content: flex-start;
        background-color: #000a17;
        width: 100%;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        pointer-events: none;
        z-index: -1;
        transition: all 0.4s ease-in-out;
    }

    header #navbarMenu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        justify-content: center;
        padding: 0;
    }

    header #navbarMenu a img {
        width: 35px;
        margin-bottom: 20px;
    }

    header #navbarMenu.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        pointer-events: auto;
        z-index: 998;
    }

    header #humbergerMenu.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    header #humbergerMenu.active span:nth-child(2) {
        opacity: 0;
        transform: scale(0);
    }

    header #humbergerMenu.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    footer .leftContent {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        gap: 30px;

    }

    footer .leftContent .footerLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    footer .leftContent .sosmedIcon2 {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    footer .leftContent .footerText {
        margin: 0;
        text-align: center;
        font-size: 15px;
        width: 400px;
    }

    footer .leftContent .moreButton {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    footer .rightContent {
        display: flex;
        margin: 0;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        padding: 5px 5px 30px 5px;
    }

    footer .rightContent .linkFooter1 h3 {
        font-size: 20px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    footer .rightContent .linkFooter1 ul li a {
        font-size: 18px;
    }

    footer .rightContent .linkFooter2 h3 {
        font-size: 20px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    footer .rightContent .linkFooter2 ul {
        margin-bottom: 20px;
    }

    footer .rightContent .linkFooter2 ul li a {
        font-size: 18px;
    }

    footer .rightContent .linkFooter2 span {
        font-size: 10px;

    }
}