@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

main{
    background-color: #000a17;
}

main .welcomeScreen{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 10, 23, 0.8), rgba(0, 10, 23, 0.8)), url('../img/bg.jpg');
    background-size: cover;
}

main .welcomeScreen .leftContent{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-left: 130px;
}

main .welcomeScreen .leftContent h3{
    font-size: 35px;
    font-weight: 300;
}

main .welcomeScreen .leftContent h1{
    font-size: 40px;
}

main .welcomeScreen .leftContent .sosmedIcon1{
    display: flex;
    gap: 20px;
}

main .welcomeScreen .leftContent .sosmedIcon1 a{
    padding: 5px;
    transition: 0.3s;
    border-radius: 10px;
}

main .welcomeScreen .leftContent .sosmedIcon1 a img{
    width: 45px;
    cursor: pointer;
    transition: 0.1s;
}

main .welcomeScreen .leftContent .sosmedIcon1 a img:hover{
    transform: scale(1.5);
}

main .welcomeScreen .logoANR{
   margin-right: 90px;
}

main .welcomeScreen .logoANR img{
    width: 450px;
}

main .contentProject{
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main .contentProject .cardProject{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

main .contentProject .titleProject h1{
    font-size: 50px;
}

main .contentProject .cardProject .card{
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s;
}

main .contentProject .cardProject .card:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 30px white;
}


main .contentProject .cardProject .card img{
    width: 100%;
}

main .contentProject .linkProjectButton a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.3s;
    background-color: #747474;
}

main .contentProject .linkProjectButton a:hover{
    background-color: white;
    color: black;
}

@media (max-width: 768px){

    body{
        margin: 0;
        padding: 0;
    }

    main{
        margin: 0;
        padding: 0;
    }
    main .welcomeScreen{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        
    }

    main .welcomeScreen .leftContent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 20px 0;
    }

    main .welcomeScreen .leftContent .titleScreen h1{
        font-size: 20px;
        margin: 10px 0;
    }

    main .welcomeScreen .leftContent .titleScreen h3{
        font-size: 14px;
    }

    main .welcomeScreen .logoANR{
        margin: 0;
        display: flex;
        justify-content: center;
    }

    main .welcomeScreen .logoANR img{
        width: 200px;
        margin: 0;
        margin-bottom: 20px;
    }

    main .welcomeScreen .leftContent .sosmedIcon1 a img{
        width: 30px;
    }

    main .contentProject{
        height: 270vh;
        margin-bottom: 30px;
    }

    main .contentProject .titleProject h1{
        font-size: 30px;
    }
}